<main class="page">
<div class="content">
    <div class="body">
      <header>
      <div class="hero">
        <h1><span>❤️🔥   </span>Will you be my Valentine ?<span>   🔥❤️</span></h1>
        <p class="subtitle">A small page, to show off my huge <s>(dick)</s> love.</p>
        <div class="buttons">
          <a #btnYes class="cta" id="btnYes" (click)="showLoveSection()">Yes ! 💌</a>
          <a class="ctan" #btnNo (mouseenter)="runAway()" (touchstart)="runAway()" (click)="runAway()" [class.visible]="!loveVisible" [class.hidden]="loveVisible">No 💔</a>
        </div>
      </div>
      
    </header>
    <section class="love" id="love" [class.visible]="loveVisible" [class.hidden]="!loveVisible">
      <h2>You will ?</h2>
        <div class="cards">
          <div class="card">
          <span>😚</span>
          <p>Oooh I am so happy.</p>
          </div>
          <div class="card">
          <span>🥰</span>
          <p>Lets do something fun together soon.</p>
          </div>
          <div class="card">
          <span>🍜</span>
          <p>We'll grab some food.</p>
          </div>
          <div class="card">
          <span>🤸‍♀️</span>
          <p>Have some fun.</p>
          </div>
          <div class="card">
          <span>🧁</span>
          <p>Eat the desert.</p>
          </div>
          <div class="card">
          <span>🎬</span>
          <p>Watch a movie.</p>
          </div>
          <div class="card">
          <span>🎥</span>
          <p>We can of course make a movie if you're up for it.</p>
          </div>
          <div class="card">
          <span>😈</span>
          <p>Have you as a desert.</p>
          </div>
          <div class="card">
          <span>👩🏻‍🦽</span>
          <p>And I'll make sure I have one of these prepared for you.</p>
          </div>
        </div>
    </section>

    <footer>
      Happy Valentine’s Day ❤️
    </footer>
  </div>
  </div>
</main>

<router-outlet />
